NOUS_API_KEY=sk-nous-fhc02RvFVNI7g1gd3QYzazXrEDVPDZG3
SODEX_MAINNET_SPOT=https://mainnet-gw.sodex.dev/api/v1/spot
SODEX_MAINNET_PERPS=https://mainnet-gw.sodex.dev/api/v1/perps
SODEX_TESTNET_SPOT=https://testnet-gw.sodex.dev/api/v1/spot
SODEX_TESTNET_PERPS=https://testnet-gw.sodex.dev/api/v1/perps

# SoSoValue API Key for Macro, News, ETF, and Index Data
SOSOVALUE_API_KEY=SOSO-ab2ce4d2cade4801a0a83ea8115cc53d
